<div class="floating-icons">
  <button (click)="toggleMessages()" class="icon-button">📩</button>
  <button (click)="toggleNewMessage()" class="icon-button">➕</button>
  <button (click)="toggleCalendar()" class="icon-button">📅</button>
</div>

<div class="main-content">
  <!-- Iframe du dashboard, toujours visible -->
  <iframe
    width="100%"
    height="100%"
    [src]="dashboardUrl"
    frameborder="0"
    allowfullscreen="true"
    class="dashboard-frame">
  </iframe>

    <!-- Popup Calendrier -->
  <div *ngIf="showCalendarModal" class="calendar-popup">
    <div class="calendar-content">
      <button (click)="closeCalendar()" class="close-button">❌</button>

      <app-calendar ></app-calendar>
      
    </div>
  </div>

  <!-- Panneau Messages -->
  <div *ngIf="showMessages" class="messages-panel">
    <h2>📨 Messages</h2>
    <div *ngIf="messages.length > 0; else noMessages">
      <div *ngFor="let message of messages" class="message-card">
        <p><strong>{{ message.author_id[1] }}</strong> :</p>
        <div [innerHTML]="message.body"></div>
        <small>{{ message.date }}</small>
      </div>
    </div>
    <ng-template #noMessages>
      <p>No messages</p>
    </ng-template>
  </div>

  <!-- Nouveau Message -->
  <div *ngIf="showNewMessage" class="new-message-panel">
    <h2>📝 Send your message</h2>
    <select [(ngModel)]="selectedDestinataireId" class="select-input">
      <option [value]="null" disabled selected>Open me</option>
      <option *ngFor="let user of users" [value]="user.id">
        {{ user.name }}
      </option>
    </select>
    <textarea [(ngModel)]="newMessage" placeholder="Write your message..." class="textarea-input"></textarea>
    <button (click)="sendMessage()" class="send-button">Send</button>
  </div>



   <!-- Succès -->
  <div *ngIf="messageSent" class="toast-message">
    Message send successfully ✅
  </div>
  
</div>
