<div class="navbar">
  <select [(ngModel)]="selectedDestinataireId" class="destinataire-select">
    <option [value]="null" disabled selected>Choisir destinataire</option>
    <option *ngFor="let user of users" [value]="user.id">
      {{ user.name }}
    </option>
  </select>

  <input type="text" [(ngModel)]="newMessage" placeholder="Votre message..." class="input-message">
  <button (click)="sendMessage()">Envoyer</button>
</div>

<div class="report-container">
  <iframe
    width="100%"
    height="100%"
    [src]="dashboardUrl"
    frameborder="0"
    allowFullScreen="true">
  </iframe>
</div>

<section class="messages-section">
  <h2>📩 Messages</h2>
  <div *ngIf="messages.length > 0; else noMessages">
    <div *ngFor="let message of messages">
      <p><strong>{{ message.author_id[1] }}</strong> : {{ message.body }}</p>
      <small>{{ message.date }}</small>
    </div>
  </div>
  
  <ng-template #noMessages>
    <p>Aucun message reçu.</p>
  </ng-template>
  
</section>
